entrypoint = "app.py"
modules = ["python-3.10"]

[unit]
language = "python"
runtime = "python3"

build = "python3 -m pip install -r requirements.txt"
run = "python3 -m uvicorn app:app --host=0.0.0.0 --port=5000"

[deployment]
build = "python3 -m pip install -r requirements.txt"
run = "python3 -m uvicorn app:app --host=0.0.0.0 --port=5000"

[agent]
expertMode = true
